/*Set HTML background color*/
html{
    background: #111111;
}

/*Set body background color. Margin allows
 * for a mall border around the edge which
 * shows the HTML's color.*/
body{
    background-color:rgb(31, 31, 31);
    margin: 1%
}

/*Set header font/color*/
h1, h2, h3{
    color: white;
    font-family: Quicksand;
}

/*Set the font and color for most text*/
p, ul, ol, i, b{
    color:rgb(255, 255, 255);
    font-family: "Roboto Condensed";
}

/*Header*/
.header {
    text-align: center;
}

/*5-28-2021 | swilc.gitgub.io*/
