p,b ,i{
    color:rgb(31, 31, 31);
    font-family:Helvetica
}
h1, h2{
    color:rgb(31, 31, 31);
    font-family:Helvetica
}
pre{
    color:rgb(31, 31, 31);
    white-space: pre-line;
    font-family: 'Courier New'
}
li{
    color:rgb(31, 31, 31)
}
body{
    background-color:rgb(255, 255, 255);
    margin: 1%
}
.font {
    font-family:Helvetica
}
