h1{
    color:rgb(31, 31, 31);
    font-family:Helvetica
}
p{
    color:rgb(255, 255, 255)
}
h2{
    color:rgb(255, 255, 255);
    font-family:Helvetica
}
pre{
    color:rgb(255, 255, 255);
    white-space: pre-line;
    font-family: 'Courier New'
}
li{
    color:rgb(255, 255, 255)
}
html{
    background: #ffffff;
}
body{
    background-color:rgb(31, 31, 31);
    margin: 1%
}
.header {
    display: block;
    margin: auto;
    padding: 8px;
    background-color: #dddddd;
    font-family:Helvetica;
    max-width: 40%;
    text-align: center;
}
.font {
    font-family:Helvetica
}
